{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>Vera<small> The Bibliography App</small></h1>
</div>

<address>
  <strong>The Disorganisation</strong><br>
  Brisbane<br>
</address>
 
<address>
  <strong>Declan Kelly</strong><br>
  Web Developer<br>
  <a href="mailto:#">declan@TheDisorganisation.com </a>
</address>
<address>
  <strong>Tom Gilmore</strong><br>
  Mobile Developer<br>
  <a href="mailto:#">tom@TheDisorganisation.com </a>
</address>

{% endblock content %}
