{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>Vera<small> The Bibliography App</small></h1>
</div>

<address>
  <strong>The Disorganisation</strong><br>
  Brisbane Office<br>
</address>
<br>
There should be something here right...
<br>
<address>
  <strong>Declan Kelly</strong><br>
  Web Developer and CFO at The Disorganisation<br>
  <a href="mailto:declan@TheDisorganisation.com">declan@TheDisorganisation.com</a>
</address>
<address>
  <strong>Tom Gilmore</strong><br>
  Mobile Developer and CEO at The Disorganisation<br>
  <a href="mailto:declan@TheDisorganisation.com">tom@TheDisorganisation.com</a>
</address>

{% endblock content %}
